---
import "@fontsource-variable/space-grotesk";
import Header from "../sections/Header.astro";
import ThemeLine from "../sections/ThemeLineSection.astro";
import PrerequisitesSection from "../sections/PrerequisitesSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Curso de desarrollo web Full Stack | Matias Lenci</title>
  </head>
  <body class="max-w-3xl mx-auto min-h-screen px-6 sm:px-8  text-white">
	<Header/>
  <ThemeLine/>
  <PrerequisitesSection/>
  </body>

  <style is:global>
    body {
      background-color: rgb(19, 14, 39);
      font-family: "Space Grotesk Variable", sans-serif;
    }


  </style>

	
</html>
