<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Curso de desarrollo web Full Stack" />
    <meta
      property="og:url"
      content="https://curso-programacion-matiaslenci.vercel.app/"
    />
    <meta property="og:image" content="/assets/programmer.webp" />
    <meta
      property="og:description"
      content="Aprende a crear aplicaciones web dinámicas y funcionales, dominando tanto el frontend como el backend del desarrollo. Desde HTML, CSS y JavaScript hasta Node.js, Express y bases de datos, este curso te equipará con las herramientas y conocimientos necesarios para construir aplicaciones web modernas y escalables."
    />
    <title>Curso de desarrollo web Full Stack | Matias Lenci</title>
  </head>
  <body
    style="margin: 0px; height: 100%; background-color: rgb(14, 14, 14);"
    cz-shortcut-listen="true"
    ><img
      style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
      src="/assets/programmer.jpg" alt="imagen de programador"
    /></body
  >
  <style is:global>
    body {
      background-color: rgb(19, 14, 39);
      font-family: "Space Grotesk Variable", sans-serif;
    }
  </style>
</html>
