<section class="mb-8">
  <header class="my-12 block">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue from-primary-blue/20 to-primary-blue/70 [text-wrap:balance] text-yellow-300"
      >
        <span class="text-white">Curso de desarrollo web</span><br class="md:block hidden"/> Full Stack
      </span>
    </h1>
    <img src="/public/assets/programmer.jpg" alt="imagen de un programador" />
  </header>

  <div>
    <p class="mb-24">
      <strong class="font-bold">Aprende</strong> a crear aplicaciones web dinámicas
      y funcionales, dominando tanto el frontend como el backend del desarrollo.
      Desde HTML, CSS y JavaScript hasta Node.js, Express y bases de datos, este
      curso te equipará con las herramientas y conocimientos necesarios para construir
      aplicaciones web modernas y escalables.
    </p>
  </div>
</section>
