---
const TEMAS = [
  {
    title: "Fundamentos de la programación",
    description:
      "Comenzarás explorando los conceptos básicos de la programación y las arquitecturas de aplicaciones más actuales. Además, te familiarizarás con herramientas indispensables como Git, Github y Visual Studio, que te ayudarán a gestionar tu código de forma eficiente.",
    free:true
  },
  {
    title: "Desarrollo Web",
    description:
      "Crearas y diseñaras páginas web utilizando HTML5, dominando la estructura básica y la semántica del contenido web, mientras que en CSS, adquiriras habilidades para dar estilo y presentación a sus proyectos. Al finalizar, estaras capacitados para construir sitios web atractivos y funcionales, aplicando las mejores prácticas de accesibilidad y diseño responsivo.",
      free:false
  },
  {
    title: "Javascript",
    description:
      "Aprenderas el lenguaje de programación más popular y demandado en el desarrollo de software. Con javascript aprenderas los conceptos de la programación con los que podras crear desde pequeños script hasta aplicaciones web complejas.Con HTML, entenderas la estructura de una página web; con CSS, daras estilo y diseño; y con JavaScript, añadiras funcionalidades avanzadas. Aprenderas a manipular el DOM, manejar eventos, y crear efectos y animaciones.",
      free:false
  },
  {
    title: "Frontend",
    description:
      "Te sumergiras en la creación de interfaces de usuario atractivas y funcionales.  Dominaras frameworks y librerías populares de Javascript como React.js o Angular para crear experiencias de usuario dinámicas y eficientes. Al finalizar, estarán equipados para diseñar y desarrollar aplicaciones web modernas y responsivas.",
      free:false
  },
  {
    title: "Backend",
    description:
      "Aprenderas a utilizar tecnologías como Node.js y Express para configurar servidores backend, manejar solicitudes y respuestas, y conectar sus aplicaciones con bases de datos relacionales con SQL. Explorarán conceptos como la autenticación de usuarios, la seguridad de datos y la optimización del rendimiento del servidor. Al finalizar, estarán preparados para desarrollar la lógica detrás de las aplicaciones web, brindando funcionalidades y servicios robustos desde el lado del servidor.",
      free:false
  },
];
---

<ol class="relative border-s border-gray-700">
  {
    TEMAS.map((tema) => (
      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700" />
        <div class="flex flex-wrap flex-row my-2 sm:my-0 gap-x-2 items-center">
          <h3 class="text-lg font-semibold text-white">{tema.title}</h3>
          {
            (tema.free ? (
              <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-lg  text-yellow-300 border border-yellow-300">
                Clase de prueba sin costo
              </span>
            ) : (
        <div></div>
            ))
          }
        </div>
        <p class="text-base font-normal text-gray-400">{tema.description}</p>
      </li>
    ))
  }
</ol>
