---
import Theme from "./Theme.astro";
---

<section class="mb-8">
  <blockquote class="pb-6">
    <h2 class="text-3xl font-bold">Contenidos del curso</h2>
  </blockquote>
  <Theme/>
</section>
<style>
  blockquote {
    border-left: 5px solid rgb(253 224 71 / var(--tw-text-opacity));
    margin: 20px 0;
    padding: 10px 20px;
  }
</style>
