---
import Title from "../components/Title.astro";
const CARACTERISTICAS = [
  "1 clase semanal online en vivo (4hs aprox.)","Tutoría personalizada",
  "Corrección de proyectos prácticos",
  "Grabación de las clases en vivo",
  "Ejercicios semanales",
];
---

<section class="mb-8">
  <Title>Modalidad de cursado</Title>
  <h3 class="text-2xl font-medium">Modalidad virtual en vivo</h3>

  <ul class="max-w-md space-y-2 mt-2 text-gray-200 list-inside">
    {
      CARACTERISTICAS.map((cacteristica) => (
        <li class="flex items-center">
          <svg
            class="w-3.5 h-3.5 me-2 text-green-500  flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          {cacteristica}
        </li>
      ))
    }
  </ul>
</section>
