---
import Title from "../components/Title.astro";
---

<section class="mb-8">
  <Title> Pre-requisitos </Title>

  <dl
    class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700"
  >
    <div class="flex flex-col pb-3">
      <dt class="text-lg font-semibold">🎓 Conocimientos previos</dt>
      <dd class="mb-1 text-gray-400 md:text-lg">
        Este curso es desde 0, por lo que no necesitas tener conocimientos previos
        para hacerlo.
      </dd>
    </div>

    <div class="flex flex-col py-3">
      <dt class="text-lg font-semibold">💻 Requerimientos técnicos</dt>
      <dd class="my-2 text-gray-400 md:text-lg">Hardware:</dd>
      <ul class="ps-5  space-y-1 text-gray-400 list-disc list-inside">
        <li>Computadora con al menos 4 GB de RAM</li>
        <li>Procesador de doble núcleo o superior</li>
        <li>Almacenamiento de al menos 128 GB.</li>
      </ul>
      <dd class="my-2 text-gray-400 md:text-lg ">Software:</dd>
      <ul class="ps-5  space-y-1 text-gray-400 list-disc list-inside">
        <li>Sistema operativo Windows, macOS o Linux.</li>
        <li>Navegador web actualizado.</li>
      </ul>
    </div>
  </dl>
</section>
